body {
  font-family: Georgia, "Times New Roman", serif;
  background: #fafafa;
  color: #111;
  max-width: 720px;
  margin: 80px auto;
  padding: 0 24px;
  line-height: 1.75;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}

p {
  margin-bottom: 1.2rem;
}
